body{
    margin: 0 auto;
    padding: 0 auto;
}
.container{
    margin: 0 auto;
    padding: 0 auto;
    display: flexbox;
    background-color: black;
    width: 100%;
}
img{
    width: 150px;
    height: 200px;
}
.box{
    margin: 0%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: left;
    background-color: white;
    width: 150px;
    height: 100%;
}
button{
    height: 40px;
    width: 80px;
    color: aliceblue;
    background-color: palevioletred;
    border-style: none;
    border-radius: 20px;
    stroke: none;
}
.avatar{
    margin-top: 20px;
    width:  50px;
    height: 50px;   
    border-radius: 90px;
}
.div_flex{
     
    display: flex;
}
@media (min-width: 320px) and (max-width: 768px){
    .container{        
        padding: 0 auto;
        margin: 0 auto;
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px){
    .container{
        background-color: rgb(238, 8, 8);
        align-items: center;
        display: flexbox;
        flex-wrap: wrap;
        padding: 0 auto;
        margin: 0 auto;
    }
    .box{
        padding: 0 auto;
        margin:  0 auto;
    }
}